.FancyBorder {
  padding: 10px 10px;
  border: 10px solid;
}

.FancyBorder-pink {
  border-color: pink;
}

.Dialog-title {
  margin: 0;
  font-family: sans-serif;
}

.Dialog-message {
  font-size: larger;
}
